<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788967847700-58rf51rfcokr6i4773o7t7q3vjq2up4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788967847700-58rf51rfcokr6i4773o7t7q3vjq2up4a</string>
	<key>API_KEY</key>
	<string>AIzaSyBS3UDhjVnc0rxzTAUMjdp9vp_WmCovpfk</string>
	<key>GCM_SENDER_ID</key>
	<string>788967847700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.firebase</string>
	<key>PROJECT_ID</key>
	<string>nutrisnap-eb042</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrisnap-eb042.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788967847700:ios:000ebb5d1881db3a027401</string>
</dict>
</plist>